.jumbotron {
    margin-bottom: 0;
}

.pass-container {
    min-height: 200px;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}

#showPass {
    /* font-size: 1em;
    line-height: 1.5em; */
    font-weight: 700;
    width: 90%;
    border: none;
    background-color: transparent;
    text-align:center;
    overflow-wrap: break-word;
}

#generatePass {
    white-space:nowrap;
}

#copyPassContainer {
    /* Copying the password does not work if the input is display: none or visibility:hidden, so instead let's take it out of the normal flow of the DOM and hide it way off the page */
    position:fixed;
    left: 10000px;
}

.parameter {
    margin: 0 10px;
}

@media screen and (max-width: 767px) {
    .pass-container {
        min-height: 0;
        padding: 20px;
    }

    #showPass {
        font-size: 1.1em;
    }
    #generatePass {
        white-space: pre-wrap;
    }

    .display-4 {
        font-size: 2.5rem;
    }

}